.wrap {
  display: flex;
}
.codeWrap {
  width: calc(100vw - 440px);
  min-height: 600px;
}
:global(.cm-s-material.CodeMirror) {
  height: 694px;
  overflow: auto;
}
.operationBar {
  margin-top: 20px;
  text-align: right;
}
.previewWrap {
  margin: 20px 30px;
  width: 375px;
  min-width: 375px;
  min-height: 679px;
  overflow: auto;
  border: 12px solid #000;
  border-radius: 20px;
}
