<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://49.234.61.19/uploads/logo_1742fd359da.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
    <title>H5编辑器之神-Dooring</title>
    <meta name="description" content="Dooring是一款功能强大，开源免费的H5可视化页面配置解决方案，致力于提供一套简单方便、专业可靠、无限可能的H5落地页最佳实践。">
    <meta name="keywords" content="H5,HTML5,javascript,react,nodejs,前端开发,github,开源">
    <meta name="author" content="徐小夕">
    <!-- 若需要配置https, 请开启下面的meta配置 -->
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    
    <!-- <meta name="robots" content="noindex, nofollow"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.bootcdn.net/ajax/libs/spinkit/2.0.1/spinkit.min.css" rel="stylesheet">
</head>
<body>
    <div id="root"></div>
</body>
</html>