$accentColor: #083ac4;

.nav-link.external {
    .outbound {
        display: none;
    }
}

.nav-link.external:last-child {
    color: #fff;
    background-color: $accentColor;
    border-color: $accentColor;
    padding: 6px 14px;
    border-radius: 4px;
}

.doc-main {
    padding-top: 88px;
    padding-left: 380px;
}
