html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

:root {
  --sk-size: 40px;
  --sk-color: #06c;
}

.ant-btn-primary {
  color: #fff;
  background: #2F54EB !important;
  border-color: #2F54EB !important;
}

.ant-btn.ant-btn-link {
  color: #2F54EB !important;
}

.ant-btn-background-ghost.ant-btn-primary {
  color: #2F54EB !important;
  border-color: #2F54EB !important;
}

.ant-btn-link[disabled], .ant-btn-link[disabled]:active, .ant-btn-link[disabled]:focus, .ant-btn-link[disabled]:hover {
  color: rgba(0,0,0,.25) !important;
  background: transparent !important;
  border-color: transparent !important;
}

@import '~react-grid-layout/css/styles.css'; 
@import '~react-resizable/css/styles.css';
@import '~zarm/dist/zarm.min.css';

@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';

.react-grid-item{
  overflow: hidden;
}
.ant-tabs-left.editorTabclass 
.ant-tabs-nav , .ant-tabs-left.editorTabclass .ant-tabs-nav-list{
  width: 40px!important;
  min-width: 40px!important;
}
.ant-tabs-left.editorTabclass{
  height: 100%;
}

.ant-tabs-left.editorTabclass > .ant-tabs-nav .ant-tabs-tab{
  padding:20px 0px !important;
 
}
.ant-tabs-left.editorTabclass .ant-tabs-tab{
  margin:auto!important;
}
.ant-tabs-left.editorTabclass .ant-tabs-tab   div{
  display: inline-block;
}
.ant-tabs-left.editorTabclass .ant-tabs-content-holder{
  overflow: auto;
  padding:8px;
}
.ant-tabs-left.editorTabclass .ant-tabs-tabpane{
  display: flex;
  flex-wrap: wrap;
  padding-left: 12px!important;
}

.ant-form-item-label > label {
  color: #4A4A4A !important;
}